@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-800;
  }
}

/* Проверочный класс */
.test-tailwind {
  @apply text-red-500 bg-blue-100 p-4 rounded-lg;
}
